h1 {
    color: red;
}

span,
li {
    color: green;
}

li {
    list-style-type: lower-greek;
    /* list-style-type: none; */
}

/* class selector */
.special {
    color: orange;
    font-weight: 14;
}

/* descendant combinator */
li em {
    color: rebeccapurple;
}

/* next-sibling combinator */
h1+p {
    font-size: 150%;
}

a {
    color: magenta;
}

a:hover {
    text-decoration: none;
}

/* a:visited {
    color: green;
} */

body h1+p .double-special {
    color: royalblue;
}